body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
}

.allbutton{
    cursor: pointer;
    padding: 4px 25px;
    background: #603813;
    border: 1px solid #381f09;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75);
    color: #f3f3f3;
    font-size: 0.8em;
    width: 120px;
}

    .allbutton:hover, .allbutton:focus {
        background-color: #512c0a;
        -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
        -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
        box-shadow: 0 0 1px rgba(0,0,0, .75);
    }


.pomodorobutton{
    cursor: pointer;
    padding: 4px 25px;
    background: #A10000;
    border: 1px solid #381f09;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75);
    color: #f3f3f3;
    font-size: 0.8em;
    width: 120px;
}

    .pomodorobutton:hover, .pomodorobutton:focus {
        background-color: #512c0a;
        -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
        -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
        box-shadow: 0 0 1px rgba(0,0,0, .75);
    }